.DS_Store
/.quarto/
# /preposts/
matlabInVSCodeVariableInfo.csv

# Latex intermediate files
*.aux
*.bcf
*.log
*.out
*.run.xml
*.synctex.gz
*.bbl
*.blg

# Python cache files
__pycache__
# pybind11 shared object files
*.so