project:
    type: book
    output-dir: ../docs/tinyml
    resources:
      - /research-proposal/research-proposal.pdf

book:
    title: "TinyML"
    author: "Marcobisky"
    date: last-modified
    chapters:
        - part: Prologue
          chapters:
            - index.qmd
            - ./resources/resources.qmd
            - ./glossary/glossary.qmd
            - ./research-proposal/research-proposal.qmd
        - part: Environment Setup
          chapters:
            - ./env-setup/env-setup.qmd
        - part: EDA
          chapters:
            - ./eda-3d-placement/eda-3d-placement.qmd
        - part: Crash Courses
          chapters:
            - ./c-riscv-asm/c-riscv-asm.qmd
            - ./riscv/riscv.qmd
            - ./cc-os/cc-os.qmd
            - ./hdl/hdl.qmd
            - ./cc-fpga/cc-fpga.qmd
            - ./cc-cpu/cc-cpu.qmd
            - ./cc-gpu/cc-gpu.qmd
            - ./open-src-tools/open-src-tools.qmd
        - part: Neural Network
          chapters:
            - ./nn-essence/nn-essence.qmd
            - ./yolo/yolo.qmd
        - part: ML Accelerators
          chapters:
            - ./hls-design/HLS-design.qmd
        - part: CFU Playground
          chapters:
            - ./cfu-proj-struct/cfu-proj-struct.qmd


# format:
#     html:
#         theme: [sandstone, ../_variables.scss]
#         css: ../styles.css
#         toc: true
#         number-sections: true
#         self-contained: true
#         page-layout: full
#         grid:
#             margin-width: 350px

# html-math-method: mathjax
# reference-location: margin 


format:
    html:
        theme: 
            light: [materia]
            dark: [darkly, ../_dark-theme.scss]
        respect-user-color-scheme: true
        toc: true
        toc-expand: true
        number-sections: true
        self-contained: false
        grid: 
            body-width: 1000px # More content width

html-math-method: mathjax
reference-location: margin

bibliography: TinyML.bib
bibliographystyle: ieee
csl: ieee-with-url.csl #https://github.com/citation-style-language/styles

execute:
    freeze: true